# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
client-bak

# dependencies
client/node_modules
client/.pnp
client.pnp.*
client.yarn/*
client!.yarn/patches
client!.yarn/plugins
client!.yarn/releases
client!.yarn/versions

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
client/.DS_Store
client/*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# env files (can opt-in for committing if needed)
client/.env*

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo
client/next-env.d.ts


server/node_modules
server/.pnp
server/.pnp.js
server/.yarn/install-state.gz
server/logs
server/logs/api-log.json
server/.env


server/.DS_Store
server/*.pem

server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*

server/.env*.local
server/.env*.local

server/.env.development
server/.env.production

server/docker-compose.yml

server/prisma/migrations/

server/logs/

server/Uploads/Announcements/
server/PartyLists/128x128
server/PartyLists/full
server/Platforms/
server/Policies/Categories/CategoryIcon/
server/Policies/PolicyImg/
server/Policies/SubcategoriesIcon/
server/TraffyFondues/Locations/
server/Users/128x128/
server/Votes/Documents/
server/Works/Images/

studentCouncil.sql